@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
     margin:0;
     padding:0;
     font-family: "Open Sans", serif;
     font-optical-sizing: auto;
     font-style: normal;
}
.hero{
     background-color: rgba(250, 235, 215, 0.76);
     height:1100px;
}
.container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin:0px 50px 10px 50px;
}
.list-items{
     display:flex;
     gap:30px;
     color:rgba(0, 0, 0, 0.541);

}
.list-items li{
     list-style: none;
}
.list-items a{
     text-decoration: none;
     color:rgba(0, 0, 0, 0.623);
     font-weight: bold;
}
.container h1{
     font-size: 2.2rem;
     
}
.brand{
     text-align: center;
     margin:10px auto;
}
.brand h2{
     font-size: 2.2rem;
     color:black;
     margin-top: 20px;
     
}
.brand p{
     font-size: 0.9rem;
     color:rgba(0, 0, 0, 0.575);
     margin-top: 20px;
}
.btn{
     background-color: rgba(255, 166, 0, 0.877);
     padding:10px;
     color:white;
     border:none;
     border-radius: 5px;
     margin-top: 20px;
}
.brand-img{
     width:100%;
     margin:10px 50px;
}
.main-container{
     display:flex;
     margin:50px 100px 50px 100px;
     justify-content: center;
     align-items: center;
     gap:20px;
     
}
.img-container{
     display:grid;
     grid-template-columns: repeat(2,1fr);
}
.text-container{
     margin-left: 30px;

}
.text-container .mydul{
     font-size:2.2rem;
     color:rgba(0, 0, 0, 0.644);
}
.text-container #miran{
     font-size: 2.2rem;
     font-weight:bold;
     color:black;
}
.text-container .mim{
     color:orangered;
}
.hero2{
     margin:50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap:10px;
}
.features{
     font-size: 2.2rem;
     font-weight: bold;
     color:black;
     /* width:30%; */
     border-left:5px solid orangered;
     padding-left: 20px;
     
     
}
/* .features span{
     padding-left: 20px;
} */
.features-para{
     font-size: 0.9rem;
     color:rgba(0, 0, 0, 0.575);
     /* width: 40%; */

}
.box1, .box2, .box3, .box4{
     background-color: rgba(137, 43, 226, 0.178);
     border:none;
     padding:10px;
     box-shadow:5px 5px 5px 5px rgba(0, 0, 255, 0.39);
     margin:20px auto;

}
.container-img-sec .experience{
     background-color: orangered;
     color:white;
     border-radius: 5px;
     display:inline-block;
     padding:30px;
     margin-top: -120px;
     margin-left: -80px;
}
.experience h3{
     font-size: 2rem;
}
.hero3{
     margin:40px 60px;
}
.facts-head{
     margin-top: 20px auto;
     font-size: 2.2rem;
     color:black;
}
.facts-items{
     width:50%;
     
}
.list-propertise .list{
     border:1px solid orange;
     border-radius: 5px;
     padding:40px;
     margin-top: 40px;
     text-align: center;
     flex:1;

}
.list-propertise{
     display: flex;
     justify-content: space-around;
     align-items: center;
     gap:10px;
}
.hero4{

}
.spon-text{
     text-align: center;
     
}
.spon{
     margin:20px auto;
     font-size: 2.2rem;
     font-weight: bold;
}
.spon-img{
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin:30px auto;
}
.spon-img img{
     filter: grayscale(100%);
}
.footer{
     background-color: antiquewhite;
     border-radius: 5px;
     padding:25px;
     text-align: center;
     margin:40px 40px;
}